@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-aa8vgr');
	src:url('fonts/icomoon.eot?#iefix-aa8vgr') format('embedded-opentype'),
		url('fonts/icomoon.woff?-aa8vgr') format('woff'),
		url('fonts/icomoon.ttf?-aa8vgr') format('truetype'),
		url('fonts/icomoon.svg?-aa8vgr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rest1:before {
	content: "\e600";
}
.icon-rest2:before {
	content: "\e601";
}
.icon-rest4:before {
	content: "\e602";
}
.icon-rest8:before {
	content: "\e603";
}
.icon-1:before {
	content: "\31";
}
.icon-2:before {
	content: "\32";
}
.icon-3:before {
	content: "\33";
}
.icon-4:before {
	content: "\34";
}
.icon-5:before {
	content: "\35";
}
.icon-6:before {
	content: "\36";
}
.icon-7:before {
	content: "\37";
}
.icon-8:before {
	content: "\38";
}
.icon-9:before {
	content: "\39";
}
.icon-11:before {
	content: "\25";
}
.icon-13:before {
	content: "\26";
}
.icon-A:before {
	content: "\41";
}
.icon-B:before {
	content: "\42";
}
.icon-C:before {
	content: "\43";
}
.icon-D:before {
	content: "\44";
}
.icon-E:before {
	content: "\45";
}
.icon-F:before {
	content: "\46";
}
.icon-G:before {
	content: "\47";
}
.icon-sharp:before {
	content: "\23";
}
.icon-flat:before {
	content: "\62";
}
.icon-sus:before {
	content: "\73";
}
.icon-MI:before {
	content: "\6d";
}
.icon-MA:before {
	content: "\4d";
}
.icon-dim:before {
	content: "\64";
}
.icon-add:before {
	content: "\61";
}
